*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif; 
}
header{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    height: 40px;
    padding-top: 20px;
    padding-left: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    height: 100%;
    overflow: hidden;
}
.hamburger{
    display: none;
}

nav ul{
    display: flex;
    list-style-type: none;
}
nav ul li a{
    margin-right: 30px;
    text-decoration: none;
    color: grey;
    font-weight: bold;
}
a:hover{
    color: green;
}

.request{
    height: 30px;
    margin-right: 100px;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    border: none;
    font-weight: bold;
    background: linear-gradient(to right, rgb(0, 128, 68),rgb(0, 174, 255));
    color: white;
    cursor: pointer;
}
.request:hover{
    background: rgb(0, 128, 68);
}
.top{
    background-color: rgba(243, 243, 243, 0.597);
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 500px;

}
.nxt-gen{
    width: 80%;
    margin-left: 70px;
    margin-top: 100px;
}
.nxt-gen h1{
    line-height: 40px;
    font-size: 40px;
    font-weight: 100;
}
.nxt-gen p{
    margin-top: 20px;
    width: 60%;
    line-height: 22px;
}
.nxt-gen button{
    margin-top: 20px;
}
.why{
    background-color: rgba(182, 181, 181, 0.261);
    height: 600px;
}
.intro{
    padding-top: 70px;
    padding-left: 70px;
    width: 47%;
}
.intro h1{
    font-weight: bold;
    padding-bottom: 20px;
}
.intro p{
    line-height: 22px;
}
.features .feature{
    cursor: pointer;
}
.features{
    display: flex;
    margin-top: 70px;
    margin-left: 70px;
}
.feature img{
    margin-bottom: 20px;
}
.feature h2{
    margin-bottom: 20px;
}
.feature p{
   line-height: 22px;
   width: 70%;
}
.latest{
    height: 600px;
    padding-left: 50px;
    background-color: rgba(243, 243, 243, 0.597);
}
.latest h1{
    padding-top: 70px;
    margin-bottom: 40px;
    margin-left: 30px;
}
.article{
    cursor: pointer;
    transition: background .2s ease-in;
}
.article:hover{
    background-color: rgba(0, 0, 0, 0.014);
}
.articles{
    display: flex;
}

.article p{
    margin-left: 20px;
    font-size: 13px;
    color: grey; 
    margin-top: 10px;
    color: grey;
    width: 75%;
    line-height: 20px;
}
.article h3{
    margin-left: 20px;
    margin-top: 10px;
    width: 70%;
    line-height: 25px;
}
.article{
    margin-left: 30px;
    background-color: white;
    height: 400px;
    width: 250px;
}
footer{
    background-color: rgb(4, 4, 43);
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 70px;
}
.medias{
   margin-top: 40px;
}
.medias img{
    margin-left: 10px;
    cursor: pointer;
}
.links{
    display: flex;
    flex-direction: column;
}
.links a{
    margin-bottom: 15px;
    text-decoration: none;
    color: white;
}
.links a:hover{
    color: green;
}
.rights p{
    margin-top: 30px;
    padding-right: 30px;
    color: rgba(255, 255, 255, 0.323);
    font-size: 12px;
}
.close-modal{
    display: none;
}
.open{
    display: block !important;
}
.close{
    display: none;
}
.modal-container{
    display: none;
}